<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Logistics application</title>
</head>
<body>

	<h1>Edit Address:</h1>

	<form th:action="@{/updateAddress}" method="post" th:object="${address}">
		Id: <span th:text="*{id}" > </span><br>
		<input th:field="*{id}" type="hidden" />
		Country: <input th:field="*{country}" /><br>
		City: <input th:field="*{city}" /><br>
		Street: <input th:field="*{Street}" /><br>
		<input type="submit" value="Save" />
	</form>

</body>
</html>