<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>HR application</title>
</head>
<body>

	<h1>List of transports:</h1>

	<table border>
		<tr>
			<th>Id</th>
			<th>Price</th>
			<th>Section</th>
			<th>PlannedTime</th
		</tr>
		
		<td th:text="${employee.id}">Id</td>
			<td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.name}">Name</a></td>
			<td th:text="${employee.title}">Title</td>
			<td th:text="${employee.salary}">Salary</td>
			<td th:text="${employee.salary}">EntryDate</td>
			<td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>
		
		
		
		<tr th:each="transport : ${transports}">
			<td th:text="${transport.id}">Id</td>
			<td><th:text="${transport.section}">Section</td>
			<td th:text="${transport.plannedTime}">PlannedTime</td>
			<td><a th:href="@{/delete.transport/{id}(id=${transport.id})}">Delete</a></td>
		</tr>
	</table>
	<br>
	<br>

	<form th:action="@{/transports}" method="post"
		th:object="${newTransport}">
		Id: <input th:field="*{id}" /><br> 
		Price: <input th:field="*{price}" /><br>
		Section: <input th:field="*{Section}" /><br> 
		PllanedTime: <input th:field="*{plannedTime}" /><br> 
		<input type="submit" value="Add" />
	</form>

</body>
</html>